* {
    margin: 0;
    padding: 0;
    /* width: 1600px; */
}

body {
    font-family: 'Lato', sans-serif;

}

.content {
    max-width: 1600px;
    margin: auto;
}
section {
    padding: 0;
    margin: 0;
}
p {
    text-align: center;
    padding: 60px;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}
.flex-container-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

.flex-container-wrap {
    display: flex;
    flex-direction: wrap;
}

nav {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 400;
}

.nav-logo {
    padding-top: 30px;
    width: 85px;
    height: 94px;
}

.hlinks {
    text-align: center;
    padding: 40px;
    text-decoration: none;
    color: #323232;
}

.center {
    text-align: center;
}

.inline {
    display: inline;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    padding: 55px 0 20px 0;
}

header {
    background-image: url("assets/Layer 7.png");
    height: 750px;
    width: 100%;

    text-align: center;

}

/* img {
    display: block;
} */
.image-large {
    height: 600px;
    width: 1075px;
}
.image-medium {
    height: 267px;
    width: 533px;
} 
.image-small {
    height: 200px;
    width: 530px;
}
.small-square {
    width: 267px;
    height: 267px;
}
.image-slim {
    height: 534px;
    width: 262px;
}

.layer-green {
    background-color: rgba(128, 255, 1);
    background-image: url("assets/Shape 13.png");
    
    z-index: 1;
}
.twitter{
    text-align:center;
    height: 350px;
    color: #888888;
  }
  .twitter-icon{
    padding: 70px 0px 10px 0px;
  }
  .tweet{
    line-height: 2;
  }

hr {
    width: 25%;
    color: #888888;
    padding: 0 20px 10px 80px;
}
.discover {
    background-color: #000;
    
    height: 100px;
}

.discover a {
    color: #fff;
    text-decoration: none;

}
.flex-container-row-footer{
    display: flex;
    flex-direction: row;
    background-color: #ECECEC;
    height: 200px;
  
  }
  .footer {
    background-color: #ECECEC;
    height: 220px;
    display: flex;
    flex-direction: row;
  }
  .adress{
    padding: 70px 40px 40px 230px;
    font-size: 0.8rem;
  
  }
  .social-media{
    padding: 80px 50px 40px 160px;
  }
  .copyright{
    padding: 80px 50px 40px 190px;
    font-size: 0.8rem;
  
  }
  .icon{
    padding: 10px;
  }
  .adress, .social-media, .copyright{
    color: #888888;
  }
  .yebo{
    font-family: 'Sacramento', cursive;
    font-size: 1.7rem;
    font-weight: bolder;
    color: black;
  }