* {
    margin: 0;
    padding: 0;
    /* width: 1600px; */
}

body {
    font-family: 'Lato', sans-serif;
}

.content {
    max-width: 1600px;
    margin: auto;
}

h1,
h2 {
    font-weight: 510;
    font-size: 20px;
    letter-spacing: 3px;
}

section {
    text-align: center;
}

.s1 {
    height: 420px;
    background-color: #f7f7f7;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 18px;
}

p {
    /* text-align: center; */
    padding: 20px 250px;
    font-weight: regular;
    line-height: 34px;
    font-size: 18px;
    color: #848789;
}

.p-narrow {
    width: 400px;
    font-size: 16px;
    text-align: justify;
    ;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-container-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

.flex-container-wrap {
    display: flex;
    flex-direction: wrap;
}

header {
    background-image: url("assets/Layer 7.png");
    height: 750px;
    width: 100%;
    text-align: center;
}

nav {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 900;
}

.nav-logo {
    padding: 25px;
    /* width: 85px;
    height: 94px; */
}

.hlinks {
    /* text-align: center; */
    position: relative;
    bottom: 70px;
    padding: 0 20px;
    text-decoration: none;
    color: #323232;
}

.center {
    /* align-items: center; */
    justify-content: center
}

.inline {
    display: inline;
}

.icon {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    /* width: 50px; */
    /* height: 50px;  */
    padding: 120px 0 20px 0;
}

.image-large {
    height: 600px;
    width: 1075px;
}

.image-medium {
    height: 267px;
    width: 533px;
}

.image-small {
    height: 200px;
    width: 530px;
}

.small-square {
    width: 267px;
    height: 267px;
}

.image-slim {
    height: 534px;
    width: 262px;
}

.layer-green {
    background-color: rgba(128, 255, 1);
    background-image: url("assets/Shape 13.png");
    z-index: 1;
}

.twitter {
    text-align: center;
    height: 350px;
    color: #888888;
}

.twitter-icon {
    padding: 70px 0px 10px 0px;
}

.tweet {
    line-height: 2;
}

hr {
    width: 25%;
    color: #888888;
    padding: 0 20px 10px 80px;
}

.discover {
    background-color: #000;
    height: 100px;
}

.discover a {
    color: #fff;
    text-decoration: none;

}

.flex-container-row-footer {
    display: flex;
    flex-direction: row;
    background-color: #ECECEC;
    height: 200px;

}

.footer {
    background-color: #ECECEC;
    height: 220px;
    display: flex;
    flex-direction: row;
}

.adress {
    padding: 70px 40px 40px 230px;
    font-size: 0.8rem;

}

.social-media {
    padding: 80px 50px 40px 160px;
}

.copyright {
    padding: 80px 50px 40px 190px;
    font-size: 0.8rem;

}

.adress,
.social-media,
.copyright {
    color: #888888;
}

.yebo {
    font-family: 'Sacramento', cursive;
    font-size: 1.7rem;
    font-weight: bolder;
    color: black;
}