* {
    margin: 0;
    padding: 0
}

body {
    font-family: 'Lato', sans-serif;
}

.content {
    max-width: 1600px;
    margin: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.relative {
    position: relative;
}

header {
    background-image: url("assets/Layer 7.png");
    height: 750px;
    width: 100%;
    text-align: center;
}

nav {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 900;
}

.nav-logo {
    padding: 25px;
}

.nav-logo2 {
    padding: 25px;
}

.hlinks {
    position: relative;
    bottom: 70px;
    padding: 0 20px;
    text-decoration: none;
    color: #4d4959;
    font-size: 13px;
}

h1,
h2 {
    font-weight: 510;
    font-size: 20px;
    letter-spacing: 3px;
}

h3 {
    color: #848789;
    font-size: 24px;
    font-style: italic;
}

section {
    text-align: center;
}

.s1 {
    height: 420px;
    background-color: #f7f7f7;
    vertical-align: middle;
    font-weight: normal;
    font-size: 18px;
}

.s2 {
    height: 600px;
    font-weight: normal;
    font-size: 16px;
    vertical-align: middle;
}

.s3 {
    height: 600px;
    font-weight: normal;
    font-size: 16px;
    justify-content: stretch;
}

.s4 {
    height: 470px;
    background-color: #f7f7f7;
}

.s4 img {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.s5 {
    height: 470px;
    align-items: center;
}

p {
    text-align: center;
    width: 1080px;
    font-weight: regular;
    line-height: 34px;
    font-size: 18px;
    color: #848789;
}

form {
    padding: 20px;
}

.ps1 {
    padding-left: 250px;
    margin-top: 20px;
}

form input[type=email] {
    width: 400px;
    height: 70px;
}

form input[type=email]::placeholder {
    color: #848789;
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
}

form input[type=submit] {
    padding: 15px 15px 54px 15px;
    width: 130px;
    height: 70px;
    background-color: #64c29e;
    font-weight: 100;
}

form [value=GO] {
    font-size: 25px;
    color: #ffffff;
}

.ps2 {
    padding-left: 60px;
    margin-top: 10px;
    line-height: 30px;
}

.ps3 {
    font-size: 16px;
    line-height: 30px;
    padding-left: 70px;
}

.ps4 {
    padding-left: 250px;
    margin-top: 20px;
    font-size: 24px;
    line-height: 34px;
}

#twitter {
    padding-left: 250px;
    width: 0;
}

#twitter b {
    letter-spacing: 25px;
}

.p-center {
    text-align: justify;
    width: 400px;
    font-size: 16px;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-container-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

.flex-container-col1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.flex-container-wrap {
    display: flex;
    flex-direction: wrap;
    align-items: stretch;
}

.flex-grow1 {
    flex-grow: 1;
}

.flex-grow2 {
    flex-grow: 2;
}

.center {
    justify-content: center
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.icon {
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0 20px 0;
}

.logo-opacity1 {
    position: absolute;
    bottom: 240px;
    left: 500px;
}

.logo-opacity2 {
    position: absolute;
    bottom: 222px;
    right: 435px;
}

.logo-opacity3 {
    position: absolute;
    bottom: 265px;
    left: 162px;
}

.image-large {
    height: 600px;
    width: 1067px;
}

.image-medium {
    height: 600px;
    width: 533px;
}

.image-small {
    height: 200px;
    width: 534px;
}

.small-square {
    width: 267px;
    height: 264px;
}

.image-slim {
    height: 534px;
    width: 262px;
}

.image-slim-horizontal {
    height: 267px;
    width: 533px;
}

.layer-green {
    background-color: #64c29e;
    background-repeat: no-repeat;
    opacity: 0.7;
    position: absolute;
    bottom: 267px;
    width: 533px;
    height: 267px;
}

#logo-bike {
    width: 51px;
    height: 30px;
}

.align-items-center {
    align-items: center;
}

#shop-now {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
}

.twitter-icon {
    padding: 70px 0px 10px 0px;
}

hr {
    width: 8%;
    color: hsl(204, 2%, 95%);
}

.discover {
    background-color: #000;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.discover a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 900;
    border: 2px solid #ffffff;
    padding: 15px 40px;
}

.flex-container-row-footer {
    display: flex;
    flex-direction: row;
    background-color: #f7f7f7;
    height: 250px;
}

.adress {
    padding: 90px 150px 40px 200px;
    font-size: 0.8rem;
    width: 240px;
}

.adress p {
    text-align: left;
    line-height: 17.87px;
    padding-bottom: 5px;
}

.social-media {
    padding: 60px 0 0 60px;
}

.social-media img {
    padding-right: 10px;
}

.copyright {
    padding: 100px 0 0 0;
    font-size: 14px;
}

.adress,
.social-media,
.copyright {
    color: #888888;
}

.yebo {
    font-family: 'Sacramento', cursive;
    font-size: 1.7rem;
    font-weight: bolder;
    color: black;
}